<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "DB.ROSKVART", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Мой Кабинет",    home_path %></li>
          <li><%= link_to "Отбор Квартир",    help_path %></li>
          <li><%= link_to "Добавление Квартир", '#' %></li>
          <li><%= link_to "Отбор Клиентов",    home_path %></li>
          <li><%= link_to "Добавление Клиентов",    help_path %></li>
      </nav>
    </div>
  </div>
</header>